@model SDES___Office_Directory.Models.otherLocation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>

<div class="message">
    <div class="display-field">@Model.otherLocationName</div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "fieldset" }))
{
    <div class="submitbox">
        <input type="submit" value="Delete" />
    </div>
}


