<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SDES_DirectoryEntities" connectionString="metadata=res://*/Models.DirectoryModel.csdl|res://*/Models.DirectoryModel.ssdl|res://*/Models.DirectoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[SERVER];initial catalog=[DATABASE];persist security info=True;user id=[SQL USER];password=[PASSWORD];multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>