@{
    ViewBag.Title = "Welcome!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section billboard
{
    <div id="slate_container"> 
		<div id="slate"> 
			<img src="@Url.Content("~/Content/billboard.jpg")" alt="billboard image" /> 
		</div> 
	</div>
}

<p class="larger">
    Welcome to the SDES Directory! This website displays a collection of information on each SDES department/office, in addition to providing
    this data in a machine-readable format to the division's various websites and partners.
</p>
    
<ul class="link-list bullets">
    <li>@Html.ActionLink("View Directory Information", "Directory")</li>
    <li>@Html.ActionLink("Report a Change to Directory Information", "Report")</li>
</ul>
