@{
    ViewBag.Title = "Report Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section billboard
{
    <div id="slate_container"> 
		<div id="slate"> 
			<img src="@Url.Content("~/Content/billboard.jpg")" alt="billboard image" /> 
		</div> 
	</div>
}

<p>Your submission has been successfully emailed to the IT team. Please allow up to five (5) business days for a response and/or correction.</p>
